{# templates/bundles/TwigBundle/Exception/error.html.twig #}
{% extends '@EasyAdmin/page/content.html.twig' %}
{% block head_javascript %}
    {{parent()}}
    {{ encore_entry_script_tags('app') }}
{% endblock head_javascript %}

{% block main %}
    <div class="container">
        <h1>Server Error</h1>

        <p>
            Something went wrong. Please see the errors below.
        </p>

        <ul>
            {% for msg in messages %}
                <li class="text-danger">{{ msg }}</li>                
            {% endfor %}
        </ul>

        <a href="{{ path('admin') }}">Back to homepage</a>
    </div>
{% endblock %}